<div class="container">
  <div class="about-section">
    <h1>About Our Album</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus assumenda
      neque quia, perferendis consequatur tempora laborum exercitationem a harum
      magnam vitae est deleniti eum sunt totam ut velit quasi? Sint?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error praesentium
      deserunt earum expedita asperiores magni ex ut voluptas sit ab porro
      dolores quo perferendis, molestias possimus odio vero iusto minus.
    </p>
  </div>
</div>
<footer>
  <p>Copyright &copy; 2024, All Right Reserved</p>
</footer>
