<div class="container">
  <div class="album-info">
    <h1>Welcome to Your Album</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      assumenda nostrum aperiam mollitia eos. Soluta quas cumque beatae animi,
      totam illo incidunt veritatis sapiente maxime inventore, aspernatur
      numquam deserunt facilis.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia saepe non
      incidunt. Vero deserunt autem, commodi non, quam at rerum accusantium
      error molestias nostrum, voluptatem accusamus aliquid veniam explicabo
      saepe.
    </p>
  </div>
</div>
