* {
  font-family: sans-serif;
}

body,
h1,
ul {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  margin: 2em;
}

#logo,
nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
